
@media screen and (min-width:1024px) and (max-width:1440px) {
    .donate-today-text .amount{
        margin: 0px 340px;
    }
    .depend-container {
        margin-left: 180px;
    }
    .servive-container{
        margin-left: 180px;
    }
}
@media screen and (min-width:993px) and (max-width:1024px) {
    /* donate-today-responsive-Start */
    .donate-today-text .amount{
        margin: 0px 130px;
    }
     /* donate-today-responsive-End */
     /* depend-responsive-Start */
     .depend-container{
        margin-left: 125px;
     }
     /* depend-responsive-End */
     .servive-container{
        margin-left: 125px;
     }
}