/* common css Start */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(255, 255, 255);
    --secondary-color:rgb(18, 18, 18);
    --third-color:rgb(112, 112, 112);
    --btn-bc-color:rgb(255, 89, 89);
}

/* common css Start */

/* banner-container-css-start */
.banner-area{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(0.00deg, rgb(18, 18, 18),rgba(18, 18, 18, 0) 100%), url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-text{
    max-width: 800px ;
}
.banner-text h1{
    font-size: 4.0625rem;
    color: var(--primary-color);
    font-family: Inter;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.banner-text p{
font-family: Poppins;
color: var(--primary-color);
font-size: 1.125rem;
font-weight: 400;
line-height: 1.75rem;
text-align: center;
margin-bottom: 30px;
}
.banner-text button{
    display: block;
    background-color: var(--btn-bc-color);
    border: none;
    border-radius: 5px;
    padding: 16px 20px ;
    text-align: center;
    margin: 0 auto;
}
.banner-text .btn a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 600;
}
/* banner-container-css-end */

/* donate-today-section-Start */
.donate-today-area{
    width: 100%;
    margin-top: 130px;
}
.donate-today-text h2{
color: var(--secondary-color);
font-family: Inter;
font-size: 2.8125rem;
font-weight: 700;
text-align: center;
margin-bottom: 20px;
}
.donate-today-text .description{
color: var(--third-color);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
line-height: 28px;
text-align: center;
}
.danate-today-heading{
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.donate-today-card{
display: flex;
flex-wrap: wrap;
gap: 22px;
align-items: center;
justify-content: center;
margin-bottom: 60px;
}
.donate-today-card .card{
    background: rgb(250, 250, 250);
    border-radius: 5px;
    color: var(--third-color);
    font-family: Inter;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    padding: 47px 0;
    width: 135px;
    height: 123px;
}
.donate-today-card .card2{
box-sizing: border-box;
border: 2px solid rgb(255, 89, 89);
border-radius: 5px;
background: rgb(255, 238, 238);
}
.donate-today-text .amount{
color: rgb(179, 179, 179);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
text-align: center;
margin: 0 376px;
padding-bottom: 9px;
border-bottom:1px solid rgb(218, 218, 218);
}
.donate-today-text button{
background-color: var(--btn-bc-color);
font-family: Inter;
border: none;
padding: 16px 20px ;
border-radius: 5px;

}
.donate-today-text button a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 600;
}
.donate-today-text .btn{
    display: block;
   text-align: center;
   margin-top: 30px;
}
/* donate-today-section-End */

/* donate-plan-section-Start */
.donate-plan-container{
    /* max-width: 1080px; */
    width: 75%;
    margin: 0 auto;
    margin-top: 130px;
}
.donate-plan-text{
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.donate-plan-text h2{
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 2.8125rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.donate-plan-text p{
color: var(--third-color);    
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
line-height: 28px;;
text-align: center;
}
.donate-plan-card{
    /* display: flex;
    flex-wrap: wrap; */
     display: grid;
     grid-template-columns: repeat(3,1fr); 
     gap: 27px;
}
.food-card{
    max-width: 360px;
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.1);
    padding: 63px 22px 54px 23px;
}
.shelter-card{
    max-width: 360px;
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.1);
    padding: 63px 22px 54px 23px;
}
.education-card{
    max-width: 360px;
    border-radius: 5px;
    background: rgb(247, 229, 185);
    padding: 63px 22px 54px 23px;
}
.donate-plan-card h4{
color: var(--secondary-color);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 600;
text-align: left;
margin-bottom: 16px;
}
.donate-plan-card p{
/* color: var(--third-color); */
color: rgb(112, 112, 112);
font-family: Poppins;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.donate-plan-card img{
    margin-bottom: 31px;
}
/* donate-plan-section-End */

/* depend-section-Start */
.depend-container{
    width: 68%;
    margin-left: 190px;
    margin-top: 110px;
}
.depend-text-area h2{
color: var(--secondary-color);
font-family: Inter;
font-size:2.8125rem;
font-weight: 700;
text-align: left;
margin-bottom: 20px;
}
.depend-text-area p{
    color: var(--third-color);
    font-family: Poppins;
    font-size:1.125rem;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 20px;
}
.depend-text-area button{
    background-color: var(--btn-bc-color);
    border: none;
    font-family: Inter;
    text-align: left;
    padding: 16px 20px ;
    border-radius: 5px;
    margin-top: 10px;
}
.depend-text-area button a{
    color: var(--primary-color);
    text-decoration: none;
    font-size:1.25rem;
    font-weight: 600;
}
.depend-text-area{
    width: 50%;
}
.depend-img-area{
    width: 50%;
    height: 450px;
}
.depend-img-area img{
    width: 100%;
    height: 100%;
}
.depend-area{
    display: flex;
    align-items: center;
    gap: 80px;

}
/* depend-section-End */

/* servive-section Start */
.servive-container{
    width: 68%;
    margin-left: 190px;
    margin-top: 110px;
}
.servive-area{
    display: flex;
    align-items: center;
    gap: 90px;
}
.servive-img-area{
    width: 50%;
    height: 450px;
}
.servive-img-area img{
    width: 100%;
    height: 100%;
}
.servive-text-area{
    width: 50%;
}
.servive-text-area h2{
color: var(--secondary-color);
font-family: Inter;
font-size: 2.8125rem;
font-weight: 700;
text-align: left;
margin-bottom: 20px;
}
.servive-text-area p{
color: var(--third-color);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
line-height: 28px;
text-align: left;
margin-bottom: 30px;
}
.servive-text-area button{
    background-color: var(--btn-bc-color);
    border: none;
    font-family: Inter;
    text-align: left;
    padding: 16px 20px ;
    border-radius: 5px;
    margin-top: 10px;
}
.servive-text-area button a{
    color: var(--primary-color);
    text-decoration: none;
    font-size:1.25rem;
    font-weight: 600;
}
/* servive-section End */

/* update-section-Start */
.update-area{
    width: 100%;
    margin-top: 130px;
}
.update-text-area{
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.update-text-area h2{
color: var(--secondary-color);
font-family: Inter;
font-size: 2.8125rem;
font-weight: 700;
text-align: center;
margin-bottom: 20px;
}
.update-text-area p{
color: var(--third-color);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
line-height: 28px;
text-align: center;
}
.update-input-area{
    max-width: 800px;
    background: rgb(255, 244, 214);
    padding: 76px 188px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update-input-area input[type="email"]{
    max-width: 275px;
    border-radius: 5px 0px 0px 5px;
    background: rgb(217, 217, 217);
    border: none;
    color: rgb(170, 159, 159);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 218px 14px 17px;
}
.update-input-area button{
    max-width: 157px;
    border-radius: 0px 5px 5px 0px;
    background: rgb(255, 89, 89);
    border: none;
    padding: 14px 43px 14px 42px;

}
.update-input-area button a{
    color: var(--primary-color);
    text-decoration: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
}
.update-input-area button:hover{
    cursor: pointer;
}
/* update-section-End */
/* footer-section-Start */
.footer-container{
    width: 100%;
    height: 177px;
    background: rgb(11, 13, 23);
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-area h2{
color: var(--btn-bc-color);
font-family: Lobster;
font-size: 2.25rem;
font-weight: 400;
margin-bottom: 24px;
text-align: center;
}
.footer-area p{
    color: rgb(217, 219, 225);
font-family: Manrope;
font-size:0.875rem;
font-weight: 400;
text-align: center;
}

/* footer-section-End */