@media screen and (max-width:576px) {
    /* banner-responsive-start */
    
    .banner-text h1{
        font-size: 2.8rem;
    }
    .banner-text p{
        font-size: 0.9rem;
    }
    .banner-text .btn a{
        font-size: 1rem;
    }
    
    /* banner-responsive-end */
    /* donate-today-responsive-Start */
    .donate-today-area{
        margin-top: 85px;
    }
    .donate-today-text .amount{
        margin: 0px 15px;
    }
    .donate-today-text h2{
        font-size: 2.8rem;
    }
    .donate-today-text .description{
        font-size: 0.9rem;
    }
    .donate-today-text button a{
        font-size: 1rem;
    }
    /* donate-today-responsive-End */
    /* donate-plan-responsive-Start */
    .donate-plan-card{
      grid-template-columns: repeat(1,1fr); 
    }
    .donate-plan-container{
        width: 100%;
        margin-top:85px;
    }
    .donate-plan-text h2{
        font-size: 2.8rem;
    }
    .donate-plan-text p{
        font-size: 0.9rem;
    }
    .food-card{
        max-width: 100%;
    }
    .shelter-card{
        max-width: 100%;
    }
    .education-card{
        max-width: 100%;
    }
    /* donate-plan-responsive-End */
    /* depend-responsive-Start */
.depend-container{
    margin-left: 0;
    width: 100%;
    margin-top:85px;
}
.depend-area{
flex-direction: column;
gap: 50px;
}
.depend-img-area, .depend-text-area{
    width: 100%;
}
.depend-text-area h2{
    font-size: 2.8rem;
}
.depend-text-area p{
    font-size: 0.9rem;
}
    /* depend-responsive-End */
    /* servive-section responsive Start */
    .servive-container{
        margin-left: 0;
        width: 100%;
        margin-top:85px;
    }
    .servive-area{
     flex-direction: column;
     gap: 50px;
    }
    .servive-text-area h2{
        font-size: 2.8rem;
    }
    .servive-text-area p{
        font-size: 0.9rem;
    }
    .servive-img-area, .servive-text-area{
     width: 100%;
    }
    /* servive-section responsive End */
}