@media screen and (min-width:577px) and (max-width:992px) {
    .banner-text h1{
        font-size: 3.5rem;
    }

    /* donate-today-responsive-Start */
    .donate-today-area{
        margin-top: 100px;
    }
    .donate-today-text .amount{
        margin: 0px 5px;
    }
     /* donate-today-responsive-End */
     /* donate-plan-responsive-Start */
     .donate-plan-container{
        margin-top:100px;
        width: 85%;
     }
      /* donate-plan-responsive-End */

      /* depend-responsive-Start */
      .depend-container{
        margin-left: 0;
        margin-top:100px;
        width: 100%;
        padding: 0 10px;
      }
      .depend-img-area, .depend-text-area{
        width: 100%;
    } 
    .depend-text-area{
        padding: 10px 0;
    }

      /* depend-responsive-End */
     /* servive-section responsive Start */
.servive-container{
    margin-left: 0;
    margin-top:100px;
    width: 100%;
    padding: 0 10px;
}
.servive-img-area, .servive-text-area{
    width: 100%;
}

     /* servive-section responsive End */
.update-area {
        margin-top:100px;
     }

}